#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: lightcyan;
}

body {
  width: auto;
  height: auto;
}

nav > a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  margin-right: 30.5px;
  text-decoration-line: none;
  padding: 20px;
}

nav > a.active {
  background-color:  lightblue;
}

nav {
  padding-bottom: 20px;
  border-bottom: 1px solid #979797;
  margin-bottom: 20px;
}

h2 {
  font-weight: bold;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
  background-color: lightblue;
  padding: 1em 5px;
}


hr {
  border: none;
  border-top: 1px solid #979797;
  margin: 20px 0;
}

input[type="submit"] {
  background: #03a8d8;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 10px 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 4px;
}


input,
select {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 4px;
  padding: 7px 9.5px 9px 9.5px;
  outline: none;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
}

button {
  width: 100%;
  height: 50px;
  background-color: rgba(105, 105, 230, 0.597) ;
}

.tile {
  margin: 0;
  font-size: 14px;
  margin-bottom: 4px;
}

.tile.tile-title {
  font-weight: bold;
}

.tile-container {
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  flex-wrap: wrap;
}

.tile-container:nth-child(2n) {
  background-color:  whitesmoke;
}
.tile-container h3,
.tile-container p {
  width: fit-content;
}

.contact-input {
  display: inline-block;
  margin-right: 10px;
  width: 20px; 
}
.remove-button {
  width: 50px;
  align-self: flex-end;
  justify-self: flex-start;
  margin: auto 0;
  font-size: 25px;
  border-radius: 4px;
}